picture/
video/

data/testmo/
data/wifi2445stable/
data/wifi2445mimoshakehand/
data/wifi2445mimohandmoving/
data/wifi2402mimoclosereflect/
data/1190_data_frames_shadowing_4/
data/1190_data_frames_shadowing_3/