picture/
video/

data/testmo/
data/wifi2445stable/
data/wifi2445mimoshakehand/
data/wifi2445mimohandmoving/
data/wifi2402mimoclosereflect/
data/1190_data_frames_shadowing_4/
data/1190_data_frames_shadowing_3/

data/1006u10fastwiderspec3(signal)/
data/1006u2widerspec(havesignal)/
data/1006u2widerspec3/
data/1006u3span15toseedelay/
data/1006u3span15toseedelaysignal/
data/InsideboxNosignal2386/
data/Insideboxhavesignal60dbm2386/
data/Insideboxhavesignal60dbm2386delay/
data/havesignal60dbm2387direct/
